/* 6A8EAE */

body {
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 75px;
}

hr {
    border: 1px solid #FE5F55;
}

#ubicacion {
  font-size: 12px;
  font-style:italic;
  margin-top: 20px;
  color:grey;
}

.educacion {
  margin-top: 30px;
}

.iconos {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

.iconos i, p {
  color: #FE5F55;
}


.iconos i:hover {
  color: #6B818C;
}

.footer {
    position: absolute;
    bottom: 0;
}