/* FE5F55 */

body {
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 75px;
}

hr {border: 1px solid #FE5F55;}

#ubication {
  font-size: 12px;
  font-style:italic;
  margin-top: 20px;
  color:grey;
}

.education {margin-top: 30px;}

.languages {margin-top: 30px;}

.honors_and_awards {margin-top: 30px;}

.languages em {
  margin-top: 30px;
  color:#797270;
  font-size: 12.5px;
}

.icons {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

.icons i, p {color: #FE5F55;}


.icons i:hover, p:hover {color: #6B818C;}

.footer {
    position: absolute;
    bottom: 0;
}